* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
form{
  display: flex;
  justify-content: center;
}
body {
  padding:20px;
  margin: 20px;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}
.search {
  margin-left: 50px;
  height: 100px;
 align-items: center;
 margin: auto;
}

input {
  display: block;
  padding: 15px;
  font-size: 25px;
  border: 2px solid;
  border-radius: 1rem;
  width: 40%;
  margin: auto;
  margin-bottom: 20px;
}
input:focus {
  outline-style: initial;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  grid-row-gap: 1rem;
}
.card {
  cursor: pointer;
  background-color: transparent;
  height: 300px;
  perspective: 1000px;
  overflow: hidden;
}
.card-front {
  position: absolute;
  width: 100%;
  height: 100%;
}
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: 1fr;
  }
  .card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
  }
}
.title img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
ul li {
  list-style-type: none;
}
